/**
 * S4N theme for reveal.js.
 *
 */
@import url("https://fonts.googleapis.com/css?family=Raleway");
html:before, html:after, body:before, body:after {
  content: "";
  position: fixed;
  background: #a5ebff; }

#top, #bottom {
  background: linear-gradient(to right, #443548, #b71930, #e94635);
  position: fixed; }

#left {
  background: #443548;
  position: fixed; }

#right {
  background: #e94635;
  position: fixed; }

#left, #right {
  top: 0;
  bottom: 0;
  width: 15px; }

#left {
  left: 0; }

#right {
  right: 0; }

#top, #bottom {
  left: 0;
  right: 0;
  height: 15px; }

#top {
  top: 0; }

#bottom {
  bottom: 0; }

.reveal h1.white-font,
.reveal h2.white-font,
.reveal h3.white-font,
.reveal h4.white-font,
.reveal h5.white-font,
.reveal h6.white-font {
  color: #fff; }

.reveal section img.no-border {
  border: 0px;
  background: initial;
  box-shadow: none; }

.reveal svg.container {
  float: left; }

textarea {
  font-size: 50px;
  border: 1px; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff; }

.reveal {
  font-family: "Raleway";
  font-size: 42px;
  font-weight: normal;
  color: #000; }

::selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1 {
 },
.reveal h2 {
 },
.reveal h3 {
 },
.reveal h4 {
 },
.reveal h5 {
 },
.reveal h6 { }

.reveal h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: #494544; }

.reveal h2 {
  font-size: 1.6em;
  font-weight: bold;
  color: #494544; }

.reveal h3 {
  font-size: 1.1em;
  font-weight: bold;
  color: #494544; }

.reveal h4 {
  font-size: 1em;
  font-weight: bold;
  color: #494544; }

.reveal h5 {
  font-size: 1em;
  font-weight: bold;
  color: #494544; }

reveal h6 {
  margin: 0 0 20px 0;
  color: #000;
  font-family: "Raleway";
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word;
  }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  text-align: left;
  font-size: 0.8em;
  line-height: 1.5; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,

.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc;
  text-align: left; }

.reveal li {
  font-size: 0.7em;
  line-height: 1.5;}

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.6em;
  }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }



/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #2a76dd;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #6ca0e8;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a53a1; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #2a76dd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #2a76dd; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #2a76dd; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
